<!DOCTYPE html>   
<html lang="pt-br">   
<head>
    <meta charset="utf-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <title> Agenda | Cadastro </title> 
    <link rel="stylesheet" href="{{url_for('static', filename='./css/base.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='./css/register.css')}}">
    </head>
<body>    
    <img class="logo" src="{{url_for('static', filename='./img/homepage-logo.svg')}}" alt="logo"/>    <h1> Crie sua conta </h1>  
    <form action="/login" method="post">   
        <div class="form-container">   
            <input class="field" type="text" placeholder="Nome" name="name" required>
            <input class="field" type="text" placeholder="Nome de usuário" name="username" required>
            <input class="field" type="text" placeholder="E-mail" name="email" required>  
            <input class="field" type="password" placeholder="Senha" name="password" required> 
            <input class="field" type="password" placeholder="Confirmar senha" name="confirm_password" required>  
            <button type="submit" class="btn-register">CADASTRAR</button>   
            
        </div>   
    </form>  
    <div class="login-section">
    <span class="signup">Já possui conta?
        <a href="/login">Entre aqui</a></span>
    </div>   
</body>     
</html>  